
#main-display-container{
    position:relative;
}

.confirmationContainerBackground{
    width: 100%;
    height: 100%;
    z-index: 4;
    position: absolute;
    top:0;
    left:0;
    background-color: rgba(12, 8, 6, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.addToCartConfirmationContainer{
    width: 90%;
    min-width: 200px;
    top: 20px;
    background-color: var(--white);
    padding: 20px;
}

.addToCartTitle{
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.addToCartProduct{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.addToCartProduct-img-container{
    width: 40%;
    
}

.addToCartProduct-img{
    width: 100%;
    border-radius: 5px;
    overflow: hidden;

    @media (min-width:700px){
        width: 70%;
    }
}

.addToCartProduct-name{
    font-weight: bold;
}

.addToCartProduct-quantity{
    margin: 10px 0;
}

.addToCartProduct-totalPrice{
    margin-top: 10px;
}

.confirmationButtonsContainer{
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 20px;
}

.confirmationButton{
    background-color: var(--dark);
    font-family: var(--typo-courier);
    font-size: 10px;
    width: 100%;
    margin-top: auto;
    height: 40px;
    border: none;
    color: var(--white);
    letter-spacing: 0.1em;
    cursor: pointer;
}

#cancelarBtn{
    background-color: var(--main);
}


/* EXPANDED SHOPPING CART DISPLAY */

#shoppingCart{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: auto;
    top: 120px;
    right: 0;
    background-color: var(--white);
    transition: opacity 1000ms ease;
}

#shoppingCart.active {
    opacity: 1;
}

#shoppingCartTitle{
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-bottom: 1px solid lightgrey;
    
}

#productsInShoppingCart{
    padding: 20px 20px 0;
}

.product-shoppingCart{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-bottom: 1px solid lightgrey;

}

.productImgContainer-shoppingCart{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.productImg-shoppingCart{
    width: 40%;
    border-radius: 5px;
    min-width: 200px;
}

.productInfo-shoppingCart{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.productName-shoppingCart{
    font-weight: bold;
}

.productPrice-shopingCart{
    margin: 10px 0;
}

.productQuantity-shopingCart{
    margin: 10px 0;
}

#deleteFromCart{
    margin:10px 0;
    color: #b3b3b3;
    cursor: pointer;
}

.productTotalPrice-shoppingcart{
    margin-top: 10px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

#shoppingCartTotals{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    font-weight: bold;
}

#sendConsulta {
    background-color: var(--dark);
    font-family: var(--typo-courier);
    font-size: 15px;
    width: 100%;
    height: 50px;
    border: none;
    color: var(--white);
    letter-spacing: 0.1em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sendConsulta a {
    text-decoration: none;
    color: white;
}


@media (min-width: 700px) {

    #shoppingCart{
        top:175px;
    }

    .product-shoppingCart{
        display: flex;
        flex-direction: row;
        align-items: space-between;
    }

    .productImgContainer-shoppingCart{
        margin-bottom: 0;
    }

    .productPrice-shopingCart{
        margin-top: 20px;
    }

    .productTotalPrice-shoppingcart{
        margin-top: auto;
    }
}
